restaurant-ms
customer-ms
order-ms
driver-ms
delivery-ms


resturant (id, restaurant_name, restaurant_location)
customer (id, customer_name, customer_location)
order (id, orderNumber, restaurant_Id, customer_Id, order_date)
driver (id, driver_name, order_Id)
delivery (delivery_date, restaurant_Id, customer_Id, order_Id, driver_Id)


***************************************************************
Spring Boot Microservices
Split a monolithic application into microservices.
Store configuration details on cloud using CloudConfig
Load balance requests between microservices using Ribbon
Discover services in cloud using Eureka
Increase resilience through Hystrix
Use asynchronous communication to improve performance
Create a API gateway using Zuul
Simplify REST calls through Feign
Secure microservices using OAuth through Spring Cloud Security
Monitor your microservices through Turbine, Sleuth and Zipkin
***************************************************************